body {
    font-family: Courier New, monospace;
    margin: 0;
    padding: 0;
    background-color: Cream;
}

header {
    background-color: #ffffff;
    color: #0a0909;
    padding: 10px;
    text-align: center;
	min-height: 10vh;
}

nav {
    background-color: #b60000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
	font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
	padding: 10px;
}

nav a:hover {
	color: #61bb8e;
	background-color: rgba(0, 0, 0, 0.5);
}

section {
    padding: 20px;
	min-height: 80vh;
    text-align: center;
}

footer {
    background-color: #ffffff;
    color: #0a0909;
    padding: 10px;
    text-align: center;
	min-height: 10vh;
}

footer a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
	padding: 10px;
	border-radius: 5px;
    text-align: center;
}

footer a:hover {
	color: #61bb8e;
	background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

ul.a
{
    list-style-type: none;
}

ul.b
{
    list-style-position: inside;
}

p
{
    font-weight: bold;
    font-size: 20px;
}

li.name
{
    font-weight: bold;
    font-size: 20px;
}